/* The Nunito font is released under the Open Font License 1.1. */
/* See "nunito-license.txt" for more licensing info. */
@font-face {
	font-family: 'Nunito';
	src: local('Nunito'), local('Nunito-Regular'),
		url('./fonts/Nunito-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Nunito';
	font-weight: 700;
	src: local('Nunito-Bold'),
		url('./fonts/Nunito-Bold.woff2') format('woff2');
}

:root,
:root.is-dark-theme {
	--background-color: #222;
	--foreground-color: #fff;
	--accent-color: #0be;
	--button-color: #444;
	--button-hover-color: #666;
}

:root .is-light-theme {
	--background-color: #fff;
	--foreground-color: #111;
	--accent-color: #30f;
	--button-color: #bbb;
	--button-hover-color: #ddd;
}

@media (prefers-color-scheme: light) {
	:root {
		--background-color: #fff;
		--foreground-color: #111;
		--accent-color: #30f;
		--button-color: #bbb;
		--button-hover-color: #ddd;
	}
}

:focus {
	outline: solid 2px var(--accent-color);
	outline-offset: 1px;
}

body {
	background-color: var(--background-color);
	color: var(--foreground-color);
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: underline var(--accent-color);
}

a:hover {
	color: var(--accent-color);
	text-decoration: none;
}

button {
	background-color: var(--button-color);
	color: var(--foreground-color);
	border: 1px solid currentColor;
	border-radius: 2px;
	min-width: 48px;
	min-height: 36px;
	padding: 8px;
	font-size: inherit;

	/* To override button styling in Chromium-based browsers. */
	font-family: inherit;
}


button:hover {
	background-color: var(--button-hover-color);
}

button:active {
	padding-top: 9px;
	padding-bottom: 7px;
}

h1 {
	font-size: 1.2em;
}

p {
	margin: unset;
}

#zbc {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
}

#zbc,
#zbc * {
	box-sizing: border-box;
}

.zbc-button.is-destructive,
.is-dark-theme .zbc-button.is-destructive {
	background-color: #800;
	color: #fff;
}

.is-light-theme .zbc-button.is-destructive {
	background-color: #b00;
	color: #fff;
}

.zbc-button.is-destructive:hover,
.is-dark-theme .zbc-button.is-destructive:hover {
	background-color: #a11;
}

.is-light-theme .zbc-button.is-destructive:hover {
	background-color: #d11;
}

.zbc-button.is-primary,
.is-dark-theme .zbc-button.is-primary {
	background-color: #039;
	color: #fff;
}

.is-light-theme .zbc-button.is-primary {
	background-color: #05b;
	color: #fff;
}

.zbc-button.is-primary:hover,
.is-dark-theme .zbc-button.is-primary:hover {
	background-color: #15b;
}

.is-light-theme .zbc-button.is-primary:hover {
	background-color: #17d;
}

#zbc-calculator {
	border: 1px solid var(--foreground-color, #000);
	border-radius: 2px;
	display: grid;
	width: max-content;
	padding: 12px;
	gap: 8px;
}

#zbc-calculator__display {
	display: flex;
	align-items: center;
	gap: 8px;
}

#zbc-calculator__display__output {
	flex-grow: 1;
	font-size: 1.5em;
	line-height: 1.2em;
	text-align: right;
}

#zbc-calculator__buttons {
	display: grid;
	grid-template-areas:
		'num       binaryop'
		'bottomrow bottomrow';
	justify-content: center;
	gap: 8px;
}

#zbc-calculator__buttons__numbers {
	display: grid;
	grid-area: num;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 8px;
}

#zbc-calculator__buttons__binary-operators {
	display: grid;
	grid-area: binaryop;
	gap: 8px;
}

#zbc-calculator__buttons__binary-operators .zbc-button,
.is-dark-theme #zbc-calculator__buttons__binary-operators .zbc-button {
	background-color: #650;
	color: #fff;
}

.is-light-theme #zbc-calculator__buttons__binary-operators .zbc-button {
	background-color: #efb000;
	color: #000;
}

#zbc-calculator__buttons__binary-operators .zbc-button:hover,
.is-dark-theme #zbc-calculator__buttons__binary-operators .zbc-button:hover {
	background-color: #760;
}

.is-light-theme #zbc-calculator__buttons__binary-operators .zbc-button:hover {
	background-color: #ffd020;
}

#zbc-calculator__buttons__bottom-row {
	display: grid;
	grid-area: bottomrow;
	grid-template-columns: auto auto 1fr;
	gap: 8px;
}

#zeb-footer {
	padding: 8px;
}
